/*TYPOGRAPHY*/
body {
	font-family:verdana, arial, sans-serif;
	}

h1 {
font-weight: 	normal;
text-transform: uppercase;
}

/*key classes*/
.teal {
	color:		#00abc2;
}

.orange {
	color: #F63D00;
}

.social_top  {background: #00abc2;}

#navbar {	
	background:	white;
}

.navbar-nav {
float:right;	color:		#00abc2;

}
.navbar-btn {
	margin:		0;
}

.logo {
	position: 	absolute;
	top:		-30px;
	z-index:	1000;
}
	
.logo img {
	border:		10px solid white;
	width:		120px;
	height:		auto;
	margin:		5px 0;
}
.main-container {
	margin-top: 100px;
}

.page_top {
	background:	#00abc2;
	color: 		white;
}
.jumbotron {
	background: none;
	padding:	0;
}

#introduction {
	background:		blue;
	min-height:		100px;
}

.intro-copy-block {
	background: 	white;
	padding:		20px;
	text-align: center;
}

.btn_social {
	background:white;
	height:30px;
	width:30px;
	border-radius:15px;
	padding:5px 0 0 0;
	text-align: center;
	}
	


.intro-copy-block h1 {
	font-size:24px;
	line-height: 1.25;
	margin-bottom: 30px;
}

.intro-copy-block p {
	font-size: 20px;
	line-height: 1.5;
}

.img-responsive img {
	width:			100%;
	height:			auto;
}

.digital-header {
	background: grey;
	padding:20px 0;
	text-align: center;
	text-transform: uppercase;
}

#product-wrapper {
	background:#00abc2;
}

.product-block {
	margin: 30px 0;
}
.product-block .block {
	background: white;
	padding:20px;
	text-align: center;
	}

.product-block .field-name-field-product-name {
	font-size:24px;
	font-weight: bold;
}

.product-block h2 {
	margin-top:0;
}

/*Footer*/
footer {
	background: #3B3B3B;
}

footer, footer p, footer a {
	color:white;
}
footer a:hover {
	color:white;
	text-decoration: underline;
	
}