/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body, h1, h2, h3, h4, h5, h6, p {
	
	color: #222222;
	font-family: verdana, arial, sans-serif;
	letter-spacing: 0.5px;
	
	}

h1, h2, h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}


h1 {
	font-size: 22px;
	line-height: 1.363636;
	margin-bottom: 15px;
}

h3.lead {
	font-size: 22px;
	line-height: 1.363636;
	margin-bottom: 15px;
}


#zone-user-wrapper {
	background:#00ABC2;
	padding-top: 5px;
}

#zone-user-wrapper a {
	color: white;
	font-size: 22px;
	line-height: 0;
	margin:0;
	
}

header#section-header {
	background:#ebebeb;
	height:120px;
}

#zone-header-image-wrapper {
	background:url(../img/header-background.jpg) #ebebeb no-repeat center top;
	background-size: cover;
	height: 350px;
}

#zone-menu-wrapper {
	background: white;
	padding:10px 0;
	position: relative;
	top:-85px;
	text-align: right;
}

#zone-about-wrapper {
	background: grey;
	padding:30px 0;
}

#zone-product-wrapper {
	background: url(../img/data-background-.jpg) #00ABC2 center bottom no-repeat;
	background-size: cover;
	padding:30px 0;
}

#zone-product-wrapper .block {
	background: 		white;
	margin-bottom: 		20px;
	text-align: 		center;
}

#zone-product-wrapper .block p {
	font-size: 14px;
	line-height: 1.42857;
	margin: 0 10px 20px 10px;
	text-align: left;	
}

#zone-product-wrapper .block img {
	margin: 20px 0 10px 0;
}

#zone-product-wrapper .block .field-name-field-product-name {
	font-size: 24px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	margin:0 20px 10px 20px;
	line-height: 1.25
}

#zone-product-wrapper .block .field-name-field-sub-title p {
	font-size:18px;
	line-height: 1.11111;
	margin:0 20px 20px 20px;
	text-align: center;
}

.intro-copy-block {
	background: white;
}

#zone-branding {
	position: relative;
	top:-20px;
	left:0;
	z-index: 1000;
}

#zone-branding .logo-img {
	border: 5px solid white;
	width:70px;
	height:70px;
}

#zone-branding .logo-img img {
	width:100%;
	height:auto;
}

.front #zone-content-wrapper h1.title {
	display: none;
}

.block-lead-header h1 {
	font-weight: normal;
	text-align: left;
}

.teal {color:#00ABC2;}
.orange {color:#F63D00;}

.hidden {display: none;}
.pull-left {float:left;}
.pull-right {float:right;}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.bean-anchors p {
	margin:0;
	text-indent: -5000px;
}