/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body, h1, h2, h3, h4, h5, h6, p {font-family: verdana, arial, sans-serif;}


#zone-user-wrapper {
	background:teal;
}

#zone-menu-wrapper {
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding:10px 0;
	position: relative;
	top:-100px;
	text-align: right;
}

#zone-branding {
	position: relative;
	top:-20px;
	left:0;
	z-index: 1000;
}

#zone-branding .logo-img {
	border: 10px solid white;
	width:120px;
	height:120px;
}

#zone-branding .logo-img img {
	width:100%;
	height:auto;
}

.hidden {display: none;}
.pull-left {float:left;}
.pull-right {float:right;}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}