/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body, h1, h2, h3, h4, h5, h6, p {font-family: verdana, arial, sans-serif;}


#zone-user-wrapper {
	background:teal;
}

header#section-header {
	background:#ebebeb;
	height:100px;
}

#zone-header-image-wrapper {
	background:url(../img/header-background.jpg) #ebebeb no-repeat center top;
}

#zone-menu-wrapper {
	background: white;
	padding:10px 0;
	position: relative;
	top:-80px;
	text-align: right;
}

#zone-about-wrapper {
	background: grey;
	padding:30px 0;
}

#zone-product-wrapper {
	background: teal;
	padding:30px 0;
}

#zone-product-wrapper .block {
	background: white;
	text-align: center;
}

.intro-copy-block {
	background: white;
}

#zone-branding {
	position: relative;
	top:-20px;
	left:0;
	z-index: 1000;
}

#zone-branding .logo-img {
	border: 5px solid white;
	width:70px;
	height:70px;
}

#zone-branding .logo-img img {
	width:100%;
	height:auto;
}

.teal {color:teal;}

.hidden {display: none;}
.pull-left {float:left;}
.pull-right {float:right;}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.bean-anchors p {
	margin:0;
	text-indent: -5000px;
}