/* This file will hold styles that are loaded using the same media query as the wide grid. */
 #zone-branding .logo-img {
	width:160px;
	height:160px;
}

.block-lead-header h1 {
	max-width: 60%;
	margin-top: 60px;
}

#section-content {margin-top: -130px;}

#zone-header-image-wrapper #zone-header-image {
    min-height: 640px;
}

#zone-menu-wrapper {
	top: -126px;
}

#main-menu li {

	margin-left:40px;
	font-size:20px;
}

#zone-product-wrapper .block-bean-product-2 .field-name-field-body {min-height:382px !important;
}