/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
h1 {
	font-size: 30px;
	line-height: 1.33333;
	margin-bottom: 20px;
}

#zone-branding .logo-img {
	border: 5px solid white;
	width:90px;
	height:90px;
}

#zone-menu-wrapper {
	top:-90px;
}

#zone-header-image-wrapper {
	height: 450px;
}

.block-lead-header h1 {
	float:right;
	max-width: 60%;
	text-align: right;
}

#zone-product-wrapper .block p {
	margin: 0 20px 20px 20px;
}

#zone-full-width-title-first-wrapper {
	background:url(../img/data-title.png) repeat-x;
}

.bean-full-width-titles {
	height:230px;
}

.bean-full-width-titles .full-width-title {
	font-size: 50px;
	}
