/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 h1 {
	font-size: 36px;
	line-height: 1.11111;
	margin-bottom: 20px;
}

h3.lead {
	font-size: 36px;
	line-height: 1.111111;
	margin-bottom: 20px;
}


 
 #zone-branding .logo-img {
	border: 10px solid white;
	width:120px;
	height:120px;
}

#zone-menu-wrapper {
	top:-105px;
}

#zone-header-image-wrapper {
	height: 550px;
}

.bean-full-width-titles .full-width-title {
	font-size: 60px;
}
.equal-height li {
	 
    width:50%;
}

